@model IEnumerable<ProjetoDrogas.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Compra</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar nova compra</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedores.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompraId" class="btn btn-primary">Editar</a> 
                <a asp-action="Delete" asp-route-id="@item.CompraId" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
